.App {
  background-color: #1f1f1f;
  display: grid;
  grid-template-columns: 80% 20%;
  text-align: center;
  height: 100vh;
}

.map {
  /* padding: 3em 3em 8em; */
  /* height: 70vh; */
  padding-top: 3em;
  width: 90%;
}

.title {
  color: white;
  font-size: 3em;
  margin-top: -90px;
  text-align: right;
  z-index: 2;
}

.svg-map {
  stroke: #1f1f1f;
  stroke-width: 2;
}

.svg-map__location {
  fill: #b7f7f6;
}

.svg-map__location:hover {
  fill: #800080;
  opacity: 0.8;
}

.svg-map__location[aria-checked="true"] {
  fill: #ec2f49;
}

.map__tooltip {
  border-radius: 15px;
  color: white;
  position: fixed;
  /* width: 200px; */
  padding: 10px;
  border: 1px solid darkgray;
  background-color: rgba(0, 0, 0, 0.8);
}

/* colors depending on VEP Ballot counted */
.svg-map__location--heat30 {
  fill: #09f9f4;
}

.svg-map__location--heat35 {
  fill: #13e4ea;
}

.svg-map__location--heat40 {
  fill: #1dd0e1;
}

.svg-map__location--heat45 {
  fill: #27bbd7;
}

.svg-map__location--heat50 {
  fill: #31a6cd;
}

.svg-map__location--heat55 {
  fill: #3b91c4;
}

.svg-map__location--heat60 {
  fill: #457dba;
}

.svg-map__location--heat65 {
  fill: #4e68b0;
}

.svg-map__location--heat70 {
  fill: #5853a7;
}

.svg-map__location--heat75 {
  fill: #623e9d;
}

.svg-map__location--heatdown {
  fill: #d0d5d5 !important;
}

/* Legend Styling */

.legend {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: end;
  /* width: 30px; */
}

.legend-num {
  color: white;
  padding-right: 1em;
  align-self: center;
}

.legend-rec {
  cursor: pointer;
  height: 100%;
  width: 30px;
  justify-self: end;
}

.c30 {
  background-color: #09f9f4;
}

.c35 {
  background-color: #13e4ea;
}

.c40 {
  background-color: #1dd0e1;
}

.c45 {
  background-color: #27bbd7;
}

.c50 {
  background-color: #31a6cd;
}

.c55 {
  background-color: #3b91c4;
}

.c60 {
  background-color: #457dba;
}

.c65 {
  background-color: #4e68b0;
}

.c70 {
  background-color: #5853a7;
}

.c75 {
  background-color: #623e9d;
}

.radioButtons {
  width: 600px;
  float: right;
}
