.App {
  text-align: center;
  margin: 3em;
}

.svg-map {
  stroke: white;
}

.svg-map__location {
  fill: red;
}

.svg-map__location:hover {
  fill: #4b0082;
}

.svg-map__location[aria-checked="true"] {
  fill: #8b008b;
}
